#root{
	-fx-background-color: #686369;
}
.button{
	-fx-background-color:   #686369;
	-fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 0,0,0,0;
}
