/** 
	#355264
	#E4CB4C
	#1B1B1B
	#686369
	#E0DCDD	
*/

.root{
	-fx-background-color: #1B1B1B;
}

.scroll-pane{
	-fx-background-color:#1B1B1B;
}

.scroll-bar:vertical{
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
	-fx-background-color: #355264;
}


.increment-button, .decrement-button{
	-fx-background-color:transparent;
}
.increment-button:hover, .decrement-button:hover{
	-fx-background-color:transparent;
}


#tilepane {
	-fx-background-color:#1B1B1B;
	-fx-padding: 10;
}

#tile {
	-fx-padding: 2;
	-fx-border-style:solid;
	-fx-border-color: #355264;
	-fx-border-width: 1px;  
	-fx-pref-width: 132;
	-fx-pref-height: 132;
		/** 
		 *	-fx-min-width: 132;
		 *	-fx-min-height: 132;
		 *	-fx-max-width: 132;
		 *	-fx-max-height: 132;
		*/
}
#tile:hover{
	-fx-border-color: #E4CB4C;
}


.button{
	-fx-background-color:transparent;
}
.label{
	-fx-text-fill:#E0DCDD;
	-fx-padding: 5;
	-fx-opacity:0.9;
	-fx-background-color: #355264;
}


.context-menu{
	-fx-background-color: #2B2B2B;
	-fx-opacity: 0.85;
}

.menu-item{
	-fx-padding: 2;
	-fx-background-color: transparent;
}

.menu-item .label{
	-fx-text-fill: #E0DCDD;
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.menu-item:focused {
	-fx-background-color:#355264;
}
