.tree-view{
	-fx-background-color: #1B1B1B;
	-fx-padding: 20 0 20 20;
}
.tree-cell{
	-fx-background-color: #1B1B1B;
	-fx-text-fill: #E0DCDD;
	-fx-border-radius: 0,0,0,0;
}

.tree-cell:hover{
	-fx-background-color: #2C2C2C;
	-fx-text-fill: #E4CB4C;
}

.label{
	-fx-text-fill: #E0DCDD;
}

.label:hover{
	-fx-text-fill: #E4CB4C;
}

.button{
	-fx-background-color: #1B1B1B;
	-fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 0,0,0,0;
}

.button:hover{
	-fx-background-color: #2C2C2C;
}
